:root {
    --primary-color: #17252A;
    --secondary-color: #2B7A78;
    --third-color: #3AAFA9;
    --fourth-color: #DEF2F1;
    --text-color: #FEFFFF;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 1;
}

body {
    flex: 1;
    border: 2px solid #FEFFFF;
    border-radius: 2px;
}

#digital-cv-nav {
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
    padding: 1rem;
    justify-content: space-between;
}

#digital-cv-nav.hide {
    top: -65px;
}

#hamburger-form {
    display: none;
}

#nav-menu :hover {
    color: var(--third-color);
}

#nav-menu {
    margin: 1px;
    background-color: rgb(5, 224, 67);
}

#digital-cv-nav ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#digital-cv-nav ul li {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--primary-color);
}

#hamburger-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#hamburger-section-header {
    align-items: center;
    display: flex;
    margin-left: 1rem;
}

.section-icons {
    background-color: var(--text-color);
    width: 8%;
    height: 8%;
}

#digital-cv-body {
    background-color: var(--text-color);
    text-decoration: none;
}

.digital-cv-nav img {
    width: 2rem;
    margin: 0.2rem;
}

.digital-cv-section p {
    padding: 1rem;
}

.digital-cv-section h2 {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px;
}

.digital-cv-section {
    color: var(--primary-color);
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#digital-cv-nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

#hamburger-bar {
    background-color: var(--text-color);
}

#hamburger-bar-cross {
    background-color: var(--text-color);
}

#hamburger-section-header a {
    color: var(--text-color);
    text-decoration: none;
}

#hamburger-section-header :hover {
    color: var(--third-color);
    text-decoration: underline;
}

#digital-cv-contact-section h2 {
    background-color: rgb(104, 186, 100);
}

form label {
    background-color: rgb(170, 170, 170);
    width: 100%;
}

textarea {
    resize: none;
}

#digital-cv-section-socials {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: var(--text-color);
    margin-top: 1rem;
}

#digital-cv-section-socials h3 {
    background-color: var(--primary-color);
    color: var(--text-color);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

#info-processing-section {
    background-color: rgb(222, 35, 35);
    width: 100%;
    height: 150px;
    display: none;

}

#processing-info {
    display: none;
}

#success-message {
    display: none;
}

section h2 {
    text-align: start;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #17252A;
}

#skill-tags {
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    background-color: #17252A;
    color: #FEFFFF;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 12px;

}

.buttons:hover {
    background-color: var(--secondary-color);
    color: #FEFFFF;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 12px;
}

#skill-tags {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 2rem;
}


.skill {
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 2px;
    background-color: #f2f2f2;
    flex-direction: row;
    margin: 1rem;
    font-size: 2rem;
}

#about-me-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#about-me-text p {
    font-size: 2rem;

}

.skill i {
    margin-right: 5px;
}

.javascript {
    color: #f0db4f;
    -webkit-text-stroke: 0.5px #000;
}

.html5 {
    color: #e44d26;
}

.css3 {
    color: #264de4;
}

.mysql {
    color: #4479a1;
}

.postgresql {
    color: #336791;
}

.php {
    color: #8892bf;
}

.api {
    color: #6c757d;
}

.apache {
    color: #d22128;
}

.python {
    color: #3776ab;
}

.git {
    color: #f34f29;
}

.nodejs {
    color: #68a063;
}

.docker {
    color: #2496ed;
}

.jasmine {
    color: #8a4182;
}

.wordpress {
    color: #21759b;
}

.oop {
    color: #f7df1e;
    -webkit-text-stroke: 0.5px #000;
}

.react {
    color: #61dafb;
}

.redux {
    color: #764abc;
}

.react-native {
    color: #61dafb;
}

.figma {
    color: #f24e1e;
}

.rest-api {
    color: #6c757d;
}

#hobbies-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#hobbies-information h4{
    display: flex;
    /* font-size: 2rem; */
}


.hobby-information-block :hover {
    background-color: orange;
}

.hobby-information-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column;
}

.hobby-icon {
    background-color: white;
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
}

#qualifications-list {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#qualifications-list li section h3 {
    text-decoration: underline;
}

.institution {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
}

.institution h4 {
    text-align: left;
}

.duration {
    font-weight: bold;
    font-style: italic;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
}


.social-icons-item {
    margin-right: 20px;
}

a.social-link-icons {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-icons li {
    padding: 1rem;
}

.social-link-icon-image {
    width: 2rem;
    height: 2rem;
}

a.social-link-icons:active {
    color: black;
}

#contact-me-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 1rem;
    margin-top: 1rem;
}

#contact-me-form label {
    background-color: var(--primary-color);
    padding: 1rem 1rem 1rem 1rem;
    color: var(--text-color);
}

#contact-me-form-first-name-label {
    border-radius: 1rem 1rem 0 0;
}

#contact-me-form input[type="text"],
#contact-me-form input[type="email"],
#contact-me-form textarea {
    background-color: var(--text-color);
    padding: 1rem 1rem 1rem 1rem;
    color: var(--primary-color);
}

#contact-me-form input[type="submit"]:hover,
#contact-me-form input[type="button"]:hover {
    background-color: var(--secondary-color);
}

#contact-me-form input[type="submit"],
#contact-me-form input[type="button"] {
    border: 2px solid var(--text-color);
}

#form-section {
    background-color: rgb(18, 45, 54);
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-header {
    width: 80vw;
}

#successMessage {
    background-color: orange;
    padding: 0.5rem;
}

@media (max-width : 768px) {
    #digital-cv-body {
        background-color: var(--text-color);
        text-decoration: none;
    }

    #about-me-text p {
        font-size: 1rem;

    }

    #digital-cv-nav {
        background-color: var(--primary-color);
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        width: 100%;
        transition: top 0.3s;
        z-index: 1;
        padding: 1rem;
    }

    #digital-cv-nav ul {
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        flex-direction: column;
    }

    #digital-cv-nav ul.close {
        display: none;
    }

    #digital-cv-nav ul.open {
        display: flex;
    }

    #digital-cv-nav ul li {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        border: 2px solid var(--text-color);
        background-color: var(--primary-color);
    }

    #digital-cv-nav ul li a {
        text-decoration: none;
        color: var(--text-color);
    }

    #nav-menu :hover {
        color: var(--third-color);
    }

    #digital-cv-nav img {
        width: 2rem;
        margin: 0.2rem;
    }

    #hamburger-bar {
        background-color: var(--text-color);
    }

    #hamburger-bar-cross {
        background-color: var(--text-color);
    }

    .close {
        display: none;
    }

    .open {
        display: block;
    }

    #hamburger-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #hamburger-form {
        display: flex;
    }

    #hamburger-section-header {
        align-items: center;
        display: flex;
        margin-left: 1rem;
    }

    #hamburger-section-header a {
        color: var(--text-color);
        text-decoration: none;
    }

    #hamburger-section-header :hover {
        color: var(--third-color);
        text-decoration: underline;
    }

    #nav-menu {
        margin: 1px;
    }

    p {
        font-size: 16px;
        line-height: 1.2;
    }

    #digital-cv-contact-section h2 {
        background-color: rgb(104, 186, 100);
    }

    form label {
        background-color: rgb(170, 170, 170);
        width: 100%;
    }

    textarea {
        resize: none;
    }

    #digital-cv-section-socials {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        background-color: var(--text-color);
        margin-top: 1rem;

    }

    #digital-cv-section-socials h3 {
        background-color: var(--primary-color);
        color: var(--text-color);

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 2px;
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }

    #info-processing-section {
        background-color: rgb(222, 35, 35);
        width: 100%;
        height: 150px;
        display: none;

    }

    #processing-info {
        display: none;
    }

    #success-message {
        display: none;
    }

    section h2 {
        text-align: start;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: #17252A;
    }

    #skill-tags {
        display: flex;
        flex-wrap: wrap;
    }

    .buttons {
        background-color: #17252A;
        color: #FEFFFF;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border: none;
        border-radius: 12px;
    }

    .digital-cv-section p {
        padding: 1rem;
    }

    .section-icons {
        background-color: var(--text-color);
        width: 12%;
        height: 12%;
    }

    .digital-cv-section h2 {
        background-color: var(--primary-color);
        color: var(--text-color);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 5px;
    }

    .digital-cv-section {
        color: var(--primary-color);
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }


    #skill-tags {
        display: flex;
        align-items: center;
        padding: 2px;
        margin: 10px;
    }


    .skill {
        display: flex;
        align-items: center;
        padding: 2px;
        border-radius: 2px;
        background-color: #f2f2f2;
        flex-direction: row;
    }

    .skill i {
        margin-right: 5px;
    }

    .javascript {
        color: #f0db4f;
        -webkit-text-stroke: 0.5px #000;
    }

    .html5 {
        color: #e44d26;
    }

    .css3 {
        color: #264de4;
    }

    .mysql {
        color: #4479a1;
    }

    .postgresql {
        color: #336791;
    }

    .php {
        color: #8892bf;
    }

    .api {
        color: #6c757d;
    }

    .apache {
        color: #d22128;
    }

    .python {
        color: #3776ab;
    }

    .git {
        color: #f34f29;
    }

    .nodejs {
        color: #68a063;
    }

    .docker {
        color: #2496ed;
    }

    .jasmine {
        color: #8a4182;
    }

    .wordpress {
        color: #21759b;
    }

    .oop {
        color: #f7df1e;
        -webkit-text-stroke: 0.5px #000;
    }

    .react {
        color: #61dafb;
    }

    .redux {
        color: #764abc;
    }

    .react-native {
        color: #61dafb;
    }

    .figma {
        color: #f24e1e;
    }

    .rest-api {
        color: #6c757d;
    }

    #hobbies-information {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .hobby-information-block :hover {
        background-color: orange;
    }

    .hobby-information-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        flex-direction: column;
    }

    .hobby-icon {
        background-color: white;
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
    }

    #qualifications-list {
        list-style-type: disc;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    #qualifications-list li section h3 {
        text-decoration: underline;
    }

    .institution {
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: flex-start;
    }

    .institution h4 {
        text-align: left;
    }

    .duration {
        font-weight: bold;
        font-style: italic;
    }

    .social-icons {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        color: var(--primary-color);
    }

    .social-icons-item {
        margin-right: 20px;
    }

    a.social-link-icons {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .social-icons li {
        padding: 1rem;
    }

    .social-link-icon-image {
        width: 2rem;
        height: 2rem;
    }

    a.social-link-icons:active {
        color: black;
    }

    #contact-me-form {
        display: flex;
        flex-direction: column;
        width: 80vw;
        border-radius: 1rem;
        margin-top: 1rem;
    }

    #contact-me-form label {
        background-color: var(--primary-color);
        padding: 1rem 1rem 1rem 1rem;
        color: var(--text-color);
    }

    #contact-me-form-first-name-label {
        border-radius: 1rem 1rem 0 0;
    }

    #contact-me-form input[type="text"],
    #contact-me-form input[type="email"],
    #contact-me-form textarea {
        background-color: var(--text-color);
        padding: 1rem 1rem 1rem 1rem;
        color: var(--primary-color);
    }

    #contact-me-form input[type="submit"]:hover,
    #contact-me-form input[type="button"]:hover {
        background-color: var(--secondary-color);
    }

    #form-section {
        background-color: rgb(18, 45, 54);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #form-header {
        width: 80vw;
    }

}