* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 1;
}

body {
    flex: 1;
    background-color: rgb(194, 172, 172);
    color: rgb(0, 0, 0);
    border: 2px solid #FEFFFF;
}

@media (max-width : 768px) {
    p {
        font-size: 16px;
        line-height: 1.2;
    }

    #digital-cv-body {
        background-color: rgb(193, 226, 141);
        text-decoration: none;
    }

    #digital-cv-nav ul {
        background-color: rgb(101, 147, 27);
        text-decoration: none;
        list-style-type: none;
        text-align: center;
    }

    #digital-cv-nav ul li {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        border: 2px solid rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }

    #digital-cv-nav ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    #digital-cv-nav img {
        background-color: aquamarine;
        width: 2rem;
        margin: 0.2rem;
    }

    .close {
        display: none;
    }

    .open {
        display: block;
    }

    #hamburger-section {
        background-color: rgb(196, 88, 232);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #hamburger-form {
        background-color: rgb(48, 73, 74);
        display: flex;
    }

    #hamburger-section-header {
        background-color: rgb(243, 1, 110);
        align-items: center;
        display: flex;
    }

    #nav-menu {
        margin: 1px;
    }

    #contact-me-form {
        background-color: rgb(187, 221, 255);
        display: flex;
        flex-direction: column;
    }

    #digital-cv-contact-section {
        background-color: rgb(104, 186, 100);
    }

    #digital-cv-section-socials ul {
        background-color: rgb(240, 144, 202);

    }

    #digital-cv-section-socials li {
        background-color: rgb(236, 4, 4);
        padding-left: 20px;

    }

    form label {
        background-color: rgb(170, 170, 170);
        width: 100%;
    }

    textarea {
        resize: none;
    }

    #info-processing-section {
        background-color: rgb(222, 35, 35);
        width: 100%;
        height: 150px;
        display: none;

    }

    #form-section {
        background-color: rgb(18, 45, 54);
    }

    #processing-info {
        display: none;
    }

    #success-message {
        display: none;
    }

    section h2 {
        text-align: start;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: #17252A;
    }

    #skill-tags {
        display: flex;
        flex-wrap: wrap;
    }

    .buttons {
        background-color: #17252A;
        color: #FEFFFF;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border: none;
        border-radius: 12px;
    }

    #about-me-icon {}

    .section-icons {
        background-color: #3AAFA9;
        width: 12%;
        height: 12%;

    }

    .digital-cv-section h2 {
        background-color: #b3d1cf;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 5px;
    }

    #skill-tags {
        display: flex;
        align-items: center;
        padding: 2px;
        margin: 10px;
    }


    .skill {
        display: flex;
        align-items: center;
        padding: 2px;
        border-radius: 2px;
        background-color: #f2f2f2;
        flex-direction: row;
    }

    .skill i {
        margin-right: 5px;
    }

    .javascript {
        color: #f0db4f;
        -webkit-text-stroke: 0.5px #000;
    }

    .html5 {
        color: #e44d26;
    }

    .css3 {
        color: #264de4;
    }

    .mysql {
        color: #4479a1;
    }

    .postgresql {
        color: #336791;
    }

    .php {
        color: #8892bf;
    }

    .api {
        color: #6c757d;
    }

    .apache {
        color: #d22128;
    }

    .python {
        color: #3776ab;
    }

    .git {
        color: #f34f29;
    }

    .nodejs {
        color: #68a063;
    }

    .docker {
        color: #2496ed;
    }

    .jasmine {
        color: #8a4182;
    }

    .wordpress {
        color: #21759b;
    }

    .oop {
        color: #f7df1e;
        -webkit-text-stroke: 0.5px #000;
    }

    .react {
        color: #61dafb;
    }

    .redux {
        color: #764abc;
    }

    .react-native {
        color: #61dafb;
    }

    .figma {
        color: #f24e1e;
    }

    .rest-api {
        color: #6c757d;
    }

    #hobbies-information {
        background-color: orange;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .hobby-information-block {
        background-color: rgb(159, 152, 139);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        flex-direction: column;
    }

    .hobby-icon {
        background-color: rgb(180, 180, 188);
        width: 3rem;
        height: 3rem;
    }

    /* need to fix spelling */

    #qulification-list {
        list-style-type: disc;
        margin-left: 20px;
    }

    #qulification-list li section h3 {
        text-decoration: underline;
    }

    #qulification-list li section section {
        display: flex;
        align-items: baseline;
    }

    #qulification-list li section h4 {
        margin-left: 10px;
    }

    #qulification-list li section h5 {
        font-weight: bold;
    }

    #qulification-list li section span {
        font-weight: bold;
    }

    .social-icons li {
        background-color: #17252A;
        margin-left: 20px;
    }

}


#digital-cv-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    transition: top 0.3s;
    z-index: 1;
}

#digital-cv-nav.hide {
    top: -45px;
}